aiofiles==0.7.0
aiohttp==3.7.4.post0
altair==4.1.0
anyio==3.3.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
asgiref==3.4.1
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.10.0
bleach==3.3.0
blinker==1.4
blis==0.7.4
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.2
catalogue==2.0.4
certifi==2021.5.30
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613413892199/work
chardet==3.0.4
click==7.1.2
conda==4.10.1
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1618231472205/work
convertdate==2.3.2
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851523607/work
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
decorator==5.0.9
defusedxml==0.7.1
dnspython==2.1.0
entrypoints==0.3
et-xmlfile==1.1.0
exbook==0.0.3
fake-useragent==0.1.11
fastai==2.3.1
fastapi==0.68.0
fastcore==1.3.20
fastprogress==1.0.0
Flask==2.0.1
Flask-HTTPAuth==4.4.0
fpdf==1.7.2
gitdb==4.0.7
GitPython==3.1.17
google-api-core==2.0.1
google-api-python-client==2.23.0
google-auth==2.2.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.53.0
gunicorn==20.1.0
h11==0.11.0
h2==3.2.0
h5py==3.2.1
hijri-converter==2.1.3
holidays==0.11.1
hpack==3.0.0
htmlmin==0.1.12
http3==0.6.7
httpcore==0.13.6
httplib2==0.19.1
httpx==0.18.2
hyperframe==5.2.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
ImageHash==4.2.1
importlib-metadata==4.8.1
importlib-resources==5.3.0
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.4.3
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
missingno==0.5.0
mistune==0.8.4
multidict==5.1.0
multimethod==1.6
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.2
notebook==6.4.0
numpy==1.20.3
oauthlib==3.1.1
opencv-python==4.5.3.56
openpyxl==3.0.9
packaging==20.9
pandas==1.2.4
pandas-profiling==3.1.0
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.2
pathy==0.5.2
patsy==0.5.2
pdf2image==1.16.0
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
Pillow==8.2.0
plotly==5.3.1
plotly-express==0.4.1
pmaw==1.0.5
preshed==3.0.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1610094866944/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic==1.8.2
pydeck==0.6.2
pyee==8.2.2
Pygments==2.9.0
PyMeeus==0.5.11
pymongo==3.11.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PyPDF2==1.26.0
pyppeteer==0.2.6
pyquery==1.4.3
pyrsistent==0.17.3
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291470465/work
python-dateutil==2.8.1
python-multipart==0.0.5
pytube==11.0.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
regex==2021.4.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-html==0.10.0
requests-oauthlib==1.3.0
resnet==0.1
retry-decorator==1.1.1
rfc3986==1.5.0
rsa==4.7.2
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1611943399135/work
schedule==1.1.0
scikit-learn==0.24.2
scikit-surprise==1.1.1
scipy==1.6.3
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==3.0.0
smmap==4.0.0
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
starlette==0.14.2
statsmodels==0.13.0
streamlit==0.82.0
streamlit-pandas-profiling==0.1.2
surprise==0.1
sweetviz==2.1.3
tangled-up-in-unicode==0.1.0
telegram==0.0.1
tenacity==8.0.1
terminado==0.10.0
testpath==0.5.0
thinc==8.0.3
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
torch==1.8.1
torchvision==0.9.1
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==2.1
uritemplate==3.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
uvicorn==0.14.0
validators==0.18.2
visions==0.7.4
w3lib==1.22.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
xlrd==2.0.1
yarl==1.6.3
youtube-dl==2021.6.6
zipp==3.6.0
